PORT=5000
DATABASE_URL="postgresql://postgres:password@localhost:5432/personal_finance_tracker?schema=public"
JWT_SECRET="your-jwt-secret-key"

# WhatsApp Gateway & Bot Multi-User Config
# WA_GATEWAY_URL: URL server Bot WhatsApp (default lokal http://localhost:3000)
WA_GATEWAY_URL="http://localhost:3000"

# VERCEL_SECRET_TOKEN: Token rahasia untuk komunikasi antara Bot WA dan API ini
VERCEL_SECRET_TOKEN="your_super_secret_token_here"
